body { margin: 0;
	background: #eee  no-repeat center;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

#container, #progress, #player, #flip-back, .cover, .playlist {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
  	bottom: 0;

}

#player {
  	width: 600px;
	  height: 400px;
	  background: #553646;
  	border-radius: 3%;
	  overflow: hidden;
	      box-shadow: 1px 3px 20px 0 #4B3844;
	  z-index: 300;
      top:-30%;
      margin: auto;
}

img {
  	width: 100%;
	  height: 100%;
	  background: #fff;
	  opacity: .4;
	  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
}

button {
	  margin: 10px;
	  color: #fff;
	  background: transparent;
	  border: 0;
	  outline: 0;
	  cursor: pointer;
	  text-align: center;
	  text-shadow: 1px 1px 3px #000;
	  transition: all .3s ease-in-out;
	  -webkit-transition: all .3s ease-in-out;
}

button:hover {
	  color: #26C5CB;
}

#play-pause {
	  width: 46px;
	  height: 46px;
	  transition: all .5s ease-in-out;
	  -webkit-transition: all .5s ease-in-out;
	}

h2 {
	position: relative;
    margin: auto;
    font-size: 1.9em;
    color: antiquewhite;
}

div#id-BGM-mList {
    color: #B4B5B7;
}

html {
    text-align: center;
    background: rgb(241, 241, 241);
    color: #FBFBFB;
    font-weight: 500;
    font-size: 1.17em;
}

#id-BGM,
#id-BGM-range {
    margin: 0.8em auto;
}
#id-BGM-volume {
    width: 40%;
    margin: 0.3em auto auto;
}
#id-BGM-name {
    color: #FBFBFB;
font-size: 1.5em;
font-weight: bold;
margin: 0.3em auto;
}
music {
    display: inline-block;
    padding: 0.2em 0 0.2em 0;
}
music:hover {
    color: red;
    cursor: pointer;
}

.slider {
    position: relative;
    margin: 0 auto;
    display: block;
    background: #565656;
    height: 7px;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(0, 0, 0, 0.9);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.slider div.ui-slider-range {
    display: block;
    height: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
}

.slider.red div.ui-slider-range {
    background-color: #e69e9b;
    box-shadow: inset 0 0 4px rgba(163, 18, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider.red div.ui-slider-range.hilite,
.slider.red div.ui-slider-range.dragging {
    background-color: #ffa09b;
}

.slider.blue div.ui-slider-range {
    background-color: #9FD0E9;
    box-shadow: inset 0 0 4px rgba(0, 85, 151, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider.blue div.ui-slider-range.hilite,
.slider.blue div.ui-slider-range.dragging {
    background-color: #9fd5ff;
}

.slider.green div.ui-slider-range {
    background-color: #9edbbc;
    box-shadow: inset 0 0 4px rgba(19, 121, 72, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider.green div.ui-slider-range.hilite,
.slider.green div.ui-slider-range.dragging {
    background-color: #9ee7c2;
}

.slider.black div.ui-slider-range {
    background-color: #aaaaaa;
    box-shadow: inset 0 0 4px rgba(24, 24, 24, 0.8), inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider.black div.ui-slider-range.hilite,
.slider.black div.ui-slider-range.dragging {
    background-color: #bbbbbb;
}

.slider.white div.ui-slider-range {
    background-color: #e3e3e3;
    box-shadow: inset 0 0 4px rgba(88, 88, 88, 0.5), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.slider.white div.ui-slider-range.hilite,
.slider.white div.ui-slider-range.dragging {
    background-color: #f0f0f0;
}

.slider a.ui-slider-handle {
    position: absolute;
    top: -5px;
    margin-left: -9px;
    z-index: 1;
    height: 16px;
    width: 16px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #d4d4d4;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border: 0px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4), inset 0 0px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6), 0 4px 2px rgba(0, 0, 0, 0.2), 0 9px 4px rgba(0, 0, 0, 0.1), inset 0 2px 1px white;
    outline: none;
}

.slider a.ui-slider-handle:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -1px;
    top: -4px;
    background-color: none;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-image: -moz-radial-gradient(#ffffff, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: -webkit-radial-gradient(#ffffff, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: radial-gradient(#ffffff, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
}
